
* {
  box-sizing: border-box;
}

body {
  color: #222;
  background-color: #edeff0;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

header {
  display: flex;
  justify-content: flex-start;
  background-color: #3e474f;
  height: 70px;
  padding: 18px 30px;
}

#logo {
  width: 35px;
  height: 35px;
}

h2 {
  color: #edeff0;
  line-height: 34px;
  letter-spacing: 0.5px;
  margin: 0;
  padding-left: 20px;
}

.outer-container {
  margin: 4%;
  box-shadow: 0 4px 0 rgba(0,0,0,0.06);
}

.inner-container {
  padding: 4%;
  background-color: #fff;
}

video {
  max-width: 100%;
}

.highlight {
  color: #fff;
  background-color: #62bc72;
}


/* ================================
    MediaElement Styles
   ================================ */

.mejs__container {
  background-color: #fff;
}

.mejs__custom .mejs__controls {
  background: #3e474f;
}

.mejs__custom .mejs__controls .mejs__time-slider, 
.mejs__custom .mejs__controls .mejs__time-loaded {
  background: rgba(255, 255, 255, 0.3);
}

.mejs__custom .mejs__controls .mejs__time-current {
  background: #62bc72;
}

.mejs__custom .mejs__controls .mejs__time-float,
.mejs__custom .mejs__controls .mejs__volume-slider {
  color: #fff;
  background: #62bc72;
  opacity: 1;
  border: 1px solid #62bc72;
}


/* ================================
    Media Queries
   ================================ */

@media (min-width: 768px) {
  
  body {
    max-width: 1000px;
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

